.busstop-list {
  padding-left: 15px;
}

.busstop {
  list-style: none;
  margin: .625rem 0;
}

.logo {
  color: $white;
  display: inline-block;
  height: $service-name-logo-size;
  line-height: $service-name-logo-size;
  margin-right: .5rem;
  text-align: center;
  vertical-align: middle;
  width: $service-name-logo-size;
  font-size: .675rem;
}
