$marker-size: 20px;
$marker-shadow-size: 10px;
$marker-shadow-color: #2f2f2f;

$midpoint-marker-size: 12px;

$marker-pulse-color: rgba(0, 0, 0, .2);
$marker-pulse-shadow-color: #ccc;
$marker-pulse-ring-size: 30px;

$service-name-logo-size: 30px;

// input menu & autocomplete
$input-height: 72px;
$autocomplete-height: 42vh;
