.sidebar {
  background: $ghostwhite;
  height: 100vh;
  overflow-y: scroll;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

form {
  padding: 0;

  [type=text] {
    line-height: 2rem;
  }
}
