.sidebar {
  @include media-breakpoint-up(md) {
    background: rgba(255, 255, 255, .85);
    position: absolute;
    top: $grid-gutter-width-base;
    left: $grid-gutter-width-base;
    z-index: 3;
    max-height: 94vh;
    border-radius: $border-radius;
    padding: $grid-gutter-width-base / 4;
  }
}

form {
  padding: 0;

  [type=text] {
    line-height: 2rem;
  }
}
