.sidebar {
  @include media-breakpoint-up(md) {
    max-width: 380px;
    background: rgba($ghostwhite, .8);
    position: absolute;
    top: $grid-gutter-width-base;
    left: $grid-gutter-width-base;
    z-index: 3;
    max-height: 94vh;
    padding: 0;
    border-radius: $border-radius;
  }
}

form {
  background-color: rgba($black, .8);
  padding: 0;

  input {
    color: $ghostwhite !important;
  }

  [type=text] {
    font-family: $myanmar-font !important;
    line-height: 2rem;
  }
}
