body {
}

.myanmar {
  font-family: $myanmar-font;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: '#ff0000';
}

footer {
  background-color: $black;
  color: #939393;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: $grid-gutter-width-base / 4;
  .avatar {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    transition: transform .5s ease-in-out;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    &:hover {
      transform: scale(1.3, 1.3);
    }
  }
}

#root {
}
