{
    "parser": "babel-eslint",
    "extends": "react-app",
    "env": {
        "browser": true,
        "node": true,
        "jest": true,
        "mocha": true
    },
    "plugins": [
        "react",
        "jsx-a11y",
        "import"
    ],
    "rules": {
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
        "no-continue": 0,
        "no-plusplus": 0,
        "react/forbid-prop-types": 0,
        "no-new": 0,
        "camelcase": 0
    }
}
