$haiti: #2e2d33;
$victoria: #504684;
$scampi: #6c62a5;
$portage: #938ee1;
$white: #fff;
$grey: #acabaf;


$paua: #1f1848;
$lavender: #e4dfff;
$softlavendar: #d7d1ff;
$darkviolet: #68559a;
$lavendarblue: #c3b4fd;

// buslines
$busline-red: rgb(233, 80, 78);
$busline-brown: rgb(134, 96, 62);
$busline-blue: rgb(64, 92, 170);
$busline-green: rgb(44, 138, 108);
$busline-purple: rgb(150, 80, 159);



// site colors
$black: #2b2b2b;
$lightblack: #333;
$ghostwhite: #eee;
$shadow-color: rgba(0, 0, 0, .117647);
$selected-color: #eee;
$border-color: rgba(0, 0, 0, .1);

