$haiti: #2e2d33;
$victoria: #504684;
$scampi: #6c62a5;
$portage: #938ee1;
$white: #fff;
$grey: #acabaf;


$paua: #1f1848;
$lavender: #e4dfff;
$softlavendar: #d7d1ff;
$darkviolet: #68559a;
$lavendarblue: #c3b4fd;


$black: #272b32;
$ghostwhite: #fcffef;
$shadow-color: rgba(0, 0, 0, .117647);
$selected-color: #eee;
$border-color: rgba(0, 0, 0, .1);

