$haiti: #2e2d33;
$victoria: #504684;
$scampi: #6c62a5;
$portage: #938ee1;
$floralwhite: #faf8f5;
$white: #ffffff;
$grey: #acabaf;


$black: #333333;
$paua: #1F1848;
$ghostwhite: #FCFCFF;
$lavender: #E4DFFF;
$softlavendar: #D7D1FF;
$darkviolet: #68559A;
$lavendarblue: #C3B4FD;
